*~
*.svn
~$*
main
.cproject
.project
objects.mk
sources.mk
subdir.mk
.settings
*.[oad]
*.pyc
*.pyo
*.swp
solutions/
UnitTest/
Debug/
DebugTmp/
Release/
ReleaseTmp/
Tmp/
TmpDebug/
TmpRelease/
.DS_Store
nohup.out
*.mps
lib/
gurobi.log
*.out
*.err
.ipynb_checkpoints/
.idea/
experiments/*.csv
experiments/*.png
