*~
*.svn
~$*
main
.cproject
.project
objects.mk
sources.mk
subdir.mk
.settings
*.[oad]
*.pyc
*.pyo
*.swp
solutions/
UnitTest/
Debug/
DebugTmp/
Release/
ReleaseTmp/
Tmp/
TmpDebug/
TmpRelease/
.DS_Store
nohup.out
lib/
gurobi.log
*.out
.ipynb_checkpoints/
.idea/
experiments/*.csv
experiments/*.png
baseline_*
vpcs_*
CMakeLists.txt
cmake-build-debug/
experiments/old
experiments/test_sets/
experiments/outputs
tmpvpc*
