*~
*.svn
~$*
main
.cproject
.project
objects.mk
sources.mk
subdir.mk
.settings
*.[oad]
*.pyc
*.pyo
*.swp
solutions/
UnitTest/
Debug/
DebugTmp/
Release/
ReleaseTmp/
Tmp/
TmpDebug/
TmpRelease/
.DS_Store
nohup.out
lib/
gurobi.log
.ipynb_checkpoints/
.idea/
experiments/*.png
baseline_*
vpcs_*
CMakeLists.txt
cmake-build-debug/
experiments/old
experiments/test_sets/miplib*
experiments/outputs
tmpvpc*
experiments/outfiles/
core
*.out
experiments/*.err
outfiles/
outfiles_generation/
*.tar.gz
